# Mercado Livre API credentials
# Get yours at https://developers.mercadolivre.com.br/pt_br/registre-sua-aplicacao
APP_ID=your_app_id_here
SECRET_KEY=your_secret_key_here
REDIRECT_URI=https://melitrends.bariza.dev

# Neon Serverless Postgres connection string
# Get yours at https://neon.tech
DATABASE_URL=postgresql://user:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require
